<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Ma+Shan+Zheng&family=Noto+Serif+TC:wght@200&display=swap" rel="stylesheet">

    <title>{{ title }}</title>
  </head>
  <body>
    <img src="../static/img/cpg-logo.png">
    <div id="background-img"></div>
          <div id="proverb-container">

              <h2>{{chinese}}</h2>
              <p id="pinyin">{{pinyin}}</p>
              <h3>{{translation}}</h3>
          </div>
  </body>
</html>